<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.red.star.macalline.act.admin.mapper.ActModuleMybatisMapper">

    <select id="listEnableAct" resultType="com.red.star.macalline.act.admin.domain.ActModule">
        SELECT act_code,
               module_name,
               second_module_name,
               module_type,
               show_image,
               link_url,
               end_time,
               sub_type,
               TRIM(BOTH '"' FROM JSON_EXTRACT(am.program_config, '$.appId'))     AS appId,
               TRIM(BOTH '"' FROM JSON_EXTRACT(am.program_config, '$.extraData')) AS extraData
        FROM tb_wap_act_module am
        WHERE is_delete = 0
        ORDER BY order_level ASC
    </select>

    <select id="posterIdConvertToActCode" resultType="string">
        SELECT act_code
        FROM tb_wap_act_module
        where poster_id = #{posterId}
    </select>

    <select id="findMaxLevel" resultType="Integer">
        SELECT max(order_level)
        from tb_wap_act_module
    </select>

    <select id="findNextLevelInfo" resultType="com.red.star.macalline.act.admin.domain.ActModule">
        SELECT
        id,
        act_code,
        end_time,
        module_name,
        second_module_name,
        module_type,
        show_image,
        link_url,
        is_delete,
        order_level
        FROM
        `tb_wap_act_module`
        WHERE
        <if test="isDown == true">
            order_level &gt; #{level}
        </if>
        <if test="isDown == false">
            order_level &lt; #{level}
        </if>
        AND is_delete = 0
        ORDER BY
        <if test="isDown == true">
            order_level
        </if>
        <if test="isDown == false">
            order_level DESC
        </if>
        LIMIT 1
    </select>

    <select id="findConfigDataBySource" resultType="string">
        SELECT
            config_data
        FROM
            tb_wap_act_module
        WHERE
            act_code = #{actCode}
    </select>

</mapper>