<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.red.star.macalline.act.admin.mapper.ActReportBtnDailyMybatisMapper">

    <select id="queryListByPage" resultType="com.red.star.macalline.act.admin.service.dto.BtnDailyReportDTO">
        SELECT tr.id dictId,
        tr.label dictLabel,
        tr.ext_1,
        t.*
        FROM tb_report_act_btn_daily t
        JOIN tb_report_act_dict tr ON t.module_name = tr.`value`
        <if test="ew.sqlSegment != null and ew.sqlSegment != ''">
            ${ew.customSqlSegment}
        </if>
    </select>

    <select id="querySummaryListByPage" resultType="com.red.star.macalline.act.admin.service.dto.BtnDailyReportDTO">
        SELECT
        tr.id dictId,
        tr.label dictLabel,
        tr.ext_1,
        t.*
        FROM
        tb_report_act_btn t
        JOIN tb_report_act_dict tr ON t.module_name = tr.`value`
        JOIN (
        SELECT
        max( tt.id ) AS id
        FROM
        ( SELECT * FROM tb_report_act_btn t ORDER BY t.id DESC ) tt
        GROUP BY
        tt.source,
        tt.module_name
        ) ttt ON ttt.id = t.id
        <if test="ew.sqlSegment != null and ew.sqlSegment != ''">
            ${ew.customSqlSegment}
        </if>
    </select>

</mapper>