<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.red.star.macalline.act.admin.mapper.ComMybatisMapper">


    <select id="analysisFlopData" resultType="com.red.star.macalline.act.admin.domain.vo.FlopVo">
        SELECT DATE_FORMAT(e.create_time, '%Y-%m-%d') AS date,
        count(1) totalNum,
        count(DISTINCT e.vip_id) peopleNum,
        count(0 != e.ticket_id OR NULL) luckyNum
        FROM tb_wap_event e
        WHERE e.type = #{flopBo.type}
        AND e.source = #{flopBo.source}
        <if test="flopBo.startTime!=null">AND e.create_time BETWEEN #{flopBo.startTime}
            AND #{flopBo.endTime}
        </if>
        GROUP BY DATE_FORMAT(e.create_time, '%Y-%m-%d');
    </select>

    <select id="findRecordByGroupIdAndSource" resultType="int">
        SELECT COUNT(1)
        FROM tb_wap_card_record
        WHERE group_id = #{groupId}
          AND source = #{source}
    </select>

    <select id="analysisPVUV" resultType="com.red.star.macalline.act.admin.domain.vo.SourcePvUvVo">
        SELECT '总计'                      date,
               count(1)                  pv,
               count(DISTINCT t.open_id) uv
        FROM tb_wap_record_view t
        WHERE t.source = #{sourcePvUvBo.source};
    </select>

    <select id="analysisPVUVData" resultType="com.red.star.macalline.act.admin.domain.vo.SourcePvUvVo">
        SELECT DATE_FORMAT(t.create_time, '%Y-%m-%d') AS date,
        count(1) pv,
        count(DISTINCT t.open_id) uv
        FROM tb_wap_record_view t
        WHERE t.source = #{sourcePvUvBo.source}
        <if test="sourcePvUvBo.startTime!=null">AND t.create_time BETWEEN
            #{sourcePvUvBo.startTime}
            AND #{sourcePvUvBo.endTime}
        </if>
        GROUP BY DATE_FORMAT(t.create_time, '%Y-%m-%d');
    </select>

    <select id="analysisLuckyData" resultType="com.red.star.macalline.act.admin.domain.vo.LuckyVo">
        SELECT m.province,
        m.city,
        m.mall_name,
        m.oms_code,
        u.mobile,
        e.create_time time,
        e.ticket_grade grade,
        e.type,
        e.ticket_info
        FROM tb_wap_event e
        LEFT JOIN tb_wap_user u ON u.vip_id = e.vip_id
        LEFT JOIN tb_wap_mall m ON m.oms_code = e.oms_code
        WHERE e.ticket_id != 0
        AND e.type like '%${luckyBo.type}%'
        AND e.source = #{luckyBo.source}
        <if test="luckyBo.province!=null and luckyBo.province!=''">
            AND m.province like '%${luckyBo.province}%'
        </if>
        <if test="luckyBo.city!=null and luckyBo.city!=''">
            AND m.city like '%${luckyBo.city}%'
        </if>
        <if test="luckyBo.mallName!=null and luckyBo.mallName!=''">
            AND m.mall_name like '%${luckyBo.mallName}%'
        </if>
        <if test="luckyBo.mobile!=null and luckyBo.mobile!=''">
            AND u.mobile = #{luckyBo.mobile}
        </if>
        <if test="luckyBo.grade!=null">
            AND e.ticket_grade = #{luckyBo.grade}
        </if>
        <if test="luckyBo.startTime!=null">AND e.create_time BETWEEN #{luckyBo.startTime}
            AND #{luckyBo.endTime}
        </if>
        AND e.ticket_get = 1
        GROUP BY e.vip_id
        ORDER BY
        e.create_time DESC
    </select>

    <select id="analysisPVUVDataTotal" resultType="com.red.star.macalline.act.admin.domain.vo.SourcePvUvVo">
        SELECT
        count(1) pv,
        count(DISTINCT t.open_id) uv
        FROM tb_wap_record_view t
        WHERE t.source = #{sourcePvUvBo.source}
        <if test="sourcePvUvBo.startTime!=null">AND t.create_time BETWEEN
            #{sourcePvUvBo.startTime}
            AND #{sourcePvUvBo.endTime}
        </if>
    </select>


</mapper>