<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.red.star.macalline.act.admin.mapper.ComMybatisMapper">


    <select id="analysisFlopData" resultType="com.red.star.macalline.act.admin.domain.vo.FlopVo">
        SELECT DATE_FORMAT(e.create_time, '%Y-%m-%d') AS date,
        count(1) totalNum,
        count(DISTINCT e.vip_id) peopleNum,
        count(0 != e.ticket_id OR NULL) luckyNum
        FROM tb_wap_event e
        WHERE e.type = #{flopBo.type}
        AND e.source = #{flopBo.source}
        <if test="flopBo.startTime!=null and flopBo.startTime!=''">AND e.create_time BETWEEN #{flopBo.startTime}
            AND #{flopBo.endTime}
        </if>
        GROUP BY DATE_FORMAT(e.create_time, '%Y-%m-%d');
    </select>

    <select id="findRecordByGroupIdAndSource" resultType="int">
        SELECT
        COUNT(1)
        FROM
        tb_wap_card_record
        WHERE
        group_id = #{groupId}
        AND source = #{source}
    </select>

    <select id="analysisPVUV" resultType="com.red.star.macalline.act.admin.domain.vo.SourcePvUvVo">
        SELECT '总计'                      date,
        count(1)                  pv,
        count(DISTINCT t.open_id) uv
        FROM tb_wap_record_view t
        WHERE t.source = #{sourcePvUvBo.source};
    </select>

    <select id="analysisPVUVData" resultType="com.red.star.macalline.act.admin.domain.vo.SourcePvUvVo">
        SELECT DATE_FORMAT(t.create_time, '%Y-%m-%d') AS date,
        count(1) pv,
        count(DISTINCT t.open_id) uv
        FROM tb_wap_record_view t
        WHERE t.source = #{sourcePvUvBo.source}
        <if test="sourcePvUvBo.startTime!=null and sourcePvUvBo.startTime!=''">AND t.create_time BETWEEN
            #{sourcePvUvBo.startTime}
            AND #{sourcePvUvBo.endTime}
        </if>
        GROUP BY DATE_FORMAT(t.create_time, '%Y-%m-%d');
    </select>

</mapper>