<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.red.star.macalline.act.admin.mapper.MallMybatisMapper">

    <update id="updateWapMall">
        <foreach collection="mallList" item="list" separator=";">
            update tb_wap_mall
            set self_flag = #{list.selfFlag} ,
            <if test="list.entranceEnable != null">
                entrance_enable = #{list.entranceEnable},
            </if>
            <if test="list.detailAddress != null">
                detail_address = #{list.detailAddress} ,
            </if>
            mall_name = #{list.mallName},
            province = #{list.province},
            <if test="list.isMl != null">
                is_ml=#{list.isMl},
            </if>
            city = #{list.city}
            where oms_code=#{list.omsCode}
        </foreach>
    </update>

    <select id="findAllMallWithKeyOmsCode" resultType="com.red.star.macalline.act.admin.entity.MallMsgBO">
        SELECT
        id,
        oms_code,
        mall_code,
        mall_name,
        province,
        city,
        self_flag,
        detail_address
        FROM
        tb_wap_mall
    </select>

    <insert id="insertActMallMerge">
        INSERT INTO tb_wap_act_mall_merge
        ( oms_code, act_code, is_join, create_time, update_time )
        VALUES
        <foreach collection="mallList" item="list" separator=",">
            ( #{list.omsCode},#{actCode},#{list.linkShow},now(),now())
        </foreach>
    </insert>

    <update id="updateActMergeIsJoinByActCode">
        update tb_wap_act_mall_merge
        set is_join =#{isJoin}
        where act_code =#{actCode}
    </update>

    <update id="updateActMallMerge">
        <foreach collection="mallList" item="list" separator=";">
            update tb_wap_act_mall_merge
            set is_join = #{list.isJoin},
            update_time = now()
            where oms_code=#{list.omsCode}
            and act_code = #{actCode}
        </foreach>
    </update>

    <select id="findMallDefultInfo" resultType="com.red.star.macalline.act.admin.domain.Mall">
        select oms_code, defult_join as link_show
        from tb_wap_mall
    </select>

</mapper>